*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
#outer{
    width: 800px;
    height: 300px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}
#swiper{
    position: absolute;
    left: 0;
    width: 4000px;
    height: 300px;

}
#swiper div{
    width: 800px;
    height: 300px;
    float: left;
}
#swiper div img {
    width: 100%;
    height: 100%;
}
#focus{
    width: 120px;
    height: 25px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -60px;
    background: rgba(0,0,0,0.3);
}
#focus li{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
    float: left;
    background: #F4F4F4;
}
#focus li.select{
    background: crimson;
}
#outer a{
    width: 20px;
    height: 60px;
    position: absolute;
    background: rgba(0,0,0,0.1);
    line-height: 60px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    text-align: center;
    top: 50%;
    margin-top: -30px;
}
#left{
    left: 0;
}
#right{
    right: 0;
}